.phone-input {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 0 12px;
  height: 56px; /* igual que TextField */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.phone-input:focus-within {
  border-color: #1976d2;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
}

.phone-input input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 10px 0;
}

.phone-input .PhoneInputCountry {
  margin-right: 8px;
}

.phone-input-error {
  border-color: #d32f2f;
}

.phone-input-disabled {
  background-color: rgba(0, 0, 0, 0.06);
  pointer-events: none;
}

/**********************/
.phone-input-field {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.phone-input-field input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0;
  background: transparent;
  color: inherit;
}

.phone-input-field input:disabled {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.phone-input-field .PhoneInputCountry {
  margin-right: 8px;
}
